/node_modules
next.config.js
.next
next-env.d.ts
.eslintrc.js
rollup.config.mjs
auto-update-version.js
/dist
/.rollup.cache
.gitlab-ci.yml
tailwind.config.js
*.config.js
/prisma
/nextjs-utils/dist
/nextjs-utils/read-dir
/kanban-api/dist
/tpbank-utils/dist
/tpbank-utils/test.ts
/public