/node_modules
next.config.js
.next
next-env.d.ts
/.github
rollup.config.mjs
auto-update-version.js
/dist
/.rollup.cache
.gitlab-ci.yml
tailwind.config.js
*.config.js
/nextjs-utils/dist
/kanban-api/dist
docker-compose.yml
Dockerfile
.eslintrc.js
/nextjs-utils/tsconfig.json
/kanban-api/tsconfig.json
/kanban-api/package.json
/kanban-api/README.md
/nextjs-utils/package.json
package.json
tsconfig.json
/tpbank-utils/tsconfig.json
/tpbank-utils/package.json
/tpbank-utils/dist
/public
*.yml